<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>음식 추천</title>
</head>
<body>
<h1>어떤 종류의 음식을 추천해드릴까요?</h1>
<button onclick="requestFood(1)">한식</button>
<button onclick="requestFood(2)">중식</button>
<button onclick="requestFood(3)">일식</button>
<button onclick="requestFood(4)">양식</button>
<button onclick="requestFood(5)">기타</button>
<hr>
<div id="result"></div>
<script th:inline="javascript">
  function requestFood(type) {
    fetch('/food/' + type)
            .then(response => response.json())
            .then(data => {
              const resultDiv = document.querySelector('#result');
              const food = data;
              const html = `
                        <h2>추천 음식</h2>
                        <p>이름: ${food.name}</p>
                        <p>종류: ${food.type}</p>
                    `;
              resultDiv.innerHTML = html;
            })
            .catch(error => console.error(error));
  }
</script>
</body>
</html>
