<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<form style="margin-top: 20px; margin-left: 5%">
    <div class="btn-group btn-group-lg d-block" style="width: auto; margin: auto;" role="group"
         aria-label="Large button group">
        <button id="koreanBtn" type="button" class="btn btn-outline-primary">한식</button>
        <button id="chineseBtn" type="button" class="btn btn-outline-primary">중식</button>
        <button id="japaneseBtn" type="button" class="btn btn-outline-primary">일식</button>
        <button id="westernBtn" type="button" class="btn btn-outline-primary">양식</button>
        <button id="etcBtn" type="button" class="btn btn-outline-primary">기타</button>
    </div>

    <textarea id="myTextbox" class="textbox" readonly rows="5" cols="40"
              style="margin-top: 20px; resize: none"></textarea>
</form>

<script>
    $(document).ready(function () {
        $("button").click(function () {
            var id = $(this).attr('id');
            $.get("/food/" + id, function (data) {
                $("#myTextbox").val(data.name);
            });
        });
    });
</script>

</body>
</html>
